Labb1WCF1/Labb1WCF/Service References/Labb1_5ServiceGetDateByName/Labb1_5Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDateOfNamesDay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDateOfNamesDayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDateOfNamesDayResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDateOfNamesDaySoapIn">
    <wsdl:part name="parameters" element="tns:GetDateOfNamesDay" />
  </wsdl:message>
  <wsdl:message name="GetDateOfNamesDaySoapOut">
    <wsdl:part name="parameters" element="tns:GetDateOfNamesDayResponse" />
  </wsdl:message>
  <wsdl:portType name="Labb1_5ServiceSoap">
    <wsdl:operation name="GetDateOfNamesDay">
      <wsdl:input message="tns:GetDateOfNamesDaySoapIn" />
      <wsdl:output message="tns:GetDateOfNamesDaySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Labb1_5ServiceSoap" type="tns:Labb1_5ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDateOfNamesDay">
      <soap:operation soapAction="http://tempuri.org/GetDateOfNamesDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Labb1_5ServiceSoap12" type="tns:Labb1_5ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDateOfNamesDay">
      <soap12:operation soapAction="http://tempuri.org/GetDateOfNamesDay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Labb1_5Service">
    <wsdl:port name="Labb1_5ServiceSoap" binding="tns:Labb1_5ServiceSoap">
      <soap:address location="http://localhost:2235/Labb1_5Service.asmx" />
    </wsdl:port>
    <wsdl:port name="Labb1_5ServiceSoap12" binding="tns:Labb1_5ServiceSoap12">
      <soap12:address location="http://localhost:2235/Labb1_5Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>