Labb1WCF1/Labb1WCF/Service References/Labb1Reference/myFirstService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetTomorrowsWheater">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dayOfWeek" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTomorrowsWheaterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTomorrowsWheaterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTomorrowsWheaterSoapIn">
    <wsdl:part name="parameters" element="tns:GetTomorrowsWheater" />
  </wsdl:message>
  <wsdl:message name="GetTomorrowsWheaterSoapOut">
    <wsdl:part name="parameters" element="tns:GetTomorrowsWheaterResponse" />
  </wsdl:message>
  <wsdl:portType name="myFirstServiceSoap">
    <wsdl:operation name="GetTomorrowsWheater">
      <wsdl:input message="tns:GetTomorrowsWheaterSoapIn" />
      <wsdl:output message="tns:GetTomorrowsWheaterSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="myFirstServiceSoap" type="tns:myFirstServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTomorrowsWheater">
      <soap:operation soapAction="http://tempuri.org/GetTomorrowsWheater" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="myFirstServiceSoap12" type="tns:myFirstServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTomorrowsWheater">
      <soap12:operation soapAction="http://tempuri.org/GetTomorrowsWheater" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="myFirstService">
    <wsdl:port name="myFirstServiceSoap" binding="tns:myFirstServiceSoap">
      <soap:address location="http://localhost:48862/myFirstService.asmx" />
    </wsdl:port>
    <wsdl:port name="myFirstServiceSoap12" binding="tns:myFirstServiceSoap12">
      <soap12:address location="http://localhost:48862/myFirstService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>