Labb1WCF1/Labb1WCF/Service References/Labb1_4Reference/Labb1_4Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SubtractNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubtractNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubtractNumberResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SubtractNumberSoapIn">
    <wsdl:part name="parameters" element="tns:SubtractNumber" />
  </wsdl:message>
  <wsdl:message name="SubtractNumberSoapOut">
    <wsdl:part name="parameters" element="tns:SubtractNumberResponse" />
  </wsdl:message>
  <wsdl:portType name="Labb1_4ServiceSoap">
    <wsdl:operation name="SubtractNumber">
      <wsdl:input message="tns:SubtractNumberSoapIn" />
      <wsdl:output message="tns:SubtractNumberSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Labb1_4ServiceSoap" type="tns:Labb1_4ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubtractNumber">
      <soap:operation soapAction="http://tempuri.org/SubtractNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Labb1_4ServiceSoap12" type="tns:Labb1_4ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubtractNumber">
      <soap12:operation soapAction="http://tempuri.org/SubtractNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Labb1_4Service">
    <wsdl:port name="Labb1_4ServiceSoap" binding="tns:Labb1_4ServiceSoap">
      <soap:address location="http://localhost:55113/Labb1_4Service.asmx" />
    </wsdl:port>
    <wsdl:port name="Labb1_4ServiceSoap12" binding="tns:Labb1_4ServiceSoap12">
      <soap12:address location="http://localhost:55113/Labb1_4Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>